<ion-item-divider sticky>
  <ion-label *ngIf="date">{{ date | date:'EEEE, MMMM d' }}</ion-label>
</ion-item-divider>

<ng-container *ngFor="let item of items">
  <ion-item-sliding #slidingItem [ngStyle]="{'border-color': item.color, 'background-color': '#f53d3d'}">

    <button ion-item (click)="openItemPage(item.id)">
      <h3>{{ item.title | titlecase }}</h3>
      <p>{{ item.body | titlecase }}</p>
      <ion-note item-end color="primary">{{ item.date + 'T' + item.time | date:'h:mm a' }}</ion-note>
    </button>

    <ion-item-options side="right" color="danger" (ionSwipe)="deleteConfirm(item.id, item.title, slidingItem)">
      <button ion-button color="danger" (click)="deleteConfirm(item.id, item.title, slidingItem)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>

  </ion-item-sliding>
</ng-container>
