<ion-header>
  <ion-toolbar color="banana">
    <ion-title>Time's Up</ion-title>
  </ion-toolbar>
  <ion-toolbar color="banana">
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionInput)="onSearch($event)" (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="data">
    <ion-list>
      <ion-item-group *ngFor="let item of data">
        <schedule-item [date]="item.date" [items]="item.items"></schedule-item>
      </ion-item-group>
    </ion-list>

    <div *ngIf="data.length === 0">
      <div text-center class="nocontent">
        <ion-icon name="alert"></ion-icon>
        <h3>No Schedule</h3>
      </div>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addNewSchedule()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
