<ion-header>
  <ion-toolbar color="banana">
    <ion-title>Time's Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-group *ngFor="let dat of data">

      <ion-item-divider sticky color="listhead">
        <ion-label>{{ dat.date | date:'EEEE, MMMM d' }}</ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let ele of dat.items" [ngStyle]="{'border-color': ele.color}">

        <button ion-item (click)="openItem()">
          <h3>{{ ele.title | titlecase }}</h3>
          <p>{{ ele.body | titlecase }}</p>
          <ion-note item-end>{{ ele.date + 'T' + ele.time | date:'h:mm a' }}</ion-note>
        </button>

        <ion-item-options side="left" (ionSwipe)="acrhiveItem()">
          <button ion-button (click)="acrhiveItem()">
            <ion-icon name="archive"></ion-icon>
            Archive
          </button>
        </ion-item-options>

        <ion-item-options side="right" (ionSwipe)="deleteItem()">
          <button ion-button color="danger" (click)="deleteItem()">
            <ion-icon name="trash"></ion-icon>
            delete
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addNewSchedule()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>



</ion-content>
