page-open-schedule {
  .cardbox {
    margin-top: -90px !important;
    position: relative;
    z-index: 100;
  }
  .cardDate,
  .cardTime {
    color: color($colors, light);
    font-size: 1.5em;
  }
  .cardDate {
    padding-bottom: 15px;
  }
  .card-color {
    background-color: #2cc6d6;
  }
  .endoftime {
    font-size: 2em;
    margin-bottom: 1em;
    color: #424242;
  }
  .titlecard {
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-weight: 500;
    border-bottom: solid 1px #ccc;
  }
  .cardspace {
    padding: 40px 16px;
  }
}
