<ion-header>
  <ion-navbar color="banana">
    <ion-buttons end>
      <button *ngIf="data" ion-button icon-only (click)="deleteItem(data)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="banana" text-center>
    <ion-title text-capitalize>{{ endof }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'background': imageTimebk,'background-color': '#f4f8fb'}">

  <div *ngIf="data">

    <div padding class="cardbox" @explainerAnim>
      <ion-title text-center text-capitalize padding class="greeting anim">good {{ greeting }}</ion-title>
      <ion-card class="maincard anim" margin-bottom>
        <ion-card-content class="cardspace animt">
          <h3 class="titlecard"><ion-icon name="bookmark" item-start></ion-icon>  Title: {{ data.title }}</h3>
          <h3 class="titlecard"><ion-icon name="time" item-start></ion-icon> Added: {{ data.dateAdded | date }}</h3>
          <p>{{ data.body }}
            <p>
        </ion-card-content>
      </ion-card>
      <div class="card-background-page">
        <ion-card class="anim"> 
          <img [src]="imageTime" />
          <div class="card-title animt">{{ data.date + 'T' + data.time | date:'h:mm a' }}</div>
          <div class="card-subtitle animt">{{ date }}</div>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>
